# APP SETTINGS
APP_NAME=WMS-Light
DEBUG=True

# DATABASE SETTINGS (для Pydantic DatabaseSettings)
db__DATABASE_HOST=localhost
db__DATABASE_PORT=5432
db__DATABASE_USER=postgres
db__DATABASE_PASSWORD=your_secure_password
db__DATABASE_NAME=warehouse_local
db__DATABASE_SSL=disable

# FIRST SUPERUSER INIT
db__FIRST_SUPERUSER_USERNAME=superadmin
db__FIRST_SUPERUSER_PASSWORD=change_this_password_on_prod
db__FIRST_SUPERUSER_PHONE=+375291112233